{% extends "base.html" %}

{% block page_title %}{{store.name}} | فاکتور سفارشات{% endblock %}

{% block content %}

<!-- Content section -->    
    <section class="main" style="font-family:byekan;">
        <!-- Statement container -->
        <section class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 no-print">
                        <button class="btn history-btn" onclick="printBtn()">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            پرینت فاکتور
                        </button>
                    </div>
                    <div class="col-sm-9" id="section-to-print-1">
                        <div class="box" >
                            <div class="box-content">
                                <div class="chekout-info">
                                    <div class="row">
                                        <!-- Store-Info -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="box-header">                                                                                                    
                                                <h3>اطلاعات فروشگاه</h3>
                                                <h5>شماره فاکتور : {{order.invoice}}</h5>  
                                                <h5>فروشگاه : {{store.name}}</h5>                                                  
                                                <h5>شماره‌تلفن : {{store.phone}}</h5>
                                                <h5>آدرس فروشگاه : {{store.view_address}}</h5>
                                            </div>
                                        </div>
                                        <!-- Buyer-Info -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="box-header">
                                                <h3>اطلاعات مشتری</h3>
                                                <h5>نام مشتری: {{user.full_name}}</h5>
                                                {% if user.phone %}
                                                <h5>تلفن: {{user.phone}}</h5>
                                                {% endif %}
                                                {% if user.cellphone %}
                                                <h5>تلفن همراه: {{user.cellphone}}</h5>
                                                {% endif %}
                                                <h5>تاریخ سفارش: {{order.created_at}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Statement -->
                        <div class="box">
                            <div class="box-content">
                                <div class="hgroup-title">
                                    <h3>شرح خرید</h3>
                                    <h5>شماره فاکتور: <strong> {{order.invoice}} </strong></h5>
                                </div>
                                <table class="table table-responsive styled-table" >
                                    <thead>
                                        <tr>
                                            <th class="col-product">محصول</th>
                                            <th>تعداد</th>
                                            <th>قیمت واحد</th>
                                            <th>تخفیف واحد</th>
                                            <th>قیمت نهایی</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in order.items %}
                                        <tr>
                                            <td class="col-product" data-title="Remove">
                                                <img src="{{item.product.micro_pic}}" alt="{{item.product.name}}">
                                                <h5>{{item.product.name}}</h5>
                                            </td>
                                            <td class="col-qty align-parent">
                                                <span class="align-child">{{item.count}}</span>
                                            </td>
                                            <td class="align-parent">
                                                <span class="align-child">{{ pricing("toman", item.product.orginal_price, "fa")}}</span>
                                            </td>
                                            <td class="align-parent">
                                                <span class="align-child">{{ pricing("toman", item.product.discount, "fa")}}</span>
                                            </td>
                                            <td class="align-parent">
                                                <span class="align-child">{{ pricing("toman", item.total_price, "fa")}}</span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="buttons no-print">
                                <a href="/" class="btn btn-primary general-btn pull-right">
                                    بازگشت به صفحه اصلی &nbsp; <i class="fa fa-chevron-left"></i>
                                </a> 
                                <div class="clearfix"></div>        
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" id="section-to-print-2">
                        <!-- Cart details -->
                        <div class="cart-details">
                            <div class="box" >
                                <div class="hgroup-title">
                                    <h3>اطلاعات پرداخت: </h3>
                                </div>
                                <ul class="price-list">
                                    <li>مجموع قیمت خام: <strong>{{ pricing("toman", order.amount.real_cost, "fa") }}</strong></li>
                                    <li>مجموع تخفیف: <strong>{{ pricing("toman", order.amount.discount, "fa") }}</strong></li>
                                    <li>هزینه ارسال: <strong>{{ pricing("toman", order.amount.shipping_cost, "fa")}}</strong></li>
                                    <li class="important"> مبلغ پرداختی: <strong>{{ pricing("toman", order.amount.payable_cost, "fa") }}</strong></li>
                                    <li>روش پرداخت: <strong>{{_(order.payment_type_name)}}</strong></li>
                                    <li>وضعیت: <strong>{{order.status}}</strong></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End class="cart-details" -->  
                    </div>
                </div>
            </div>  
        </section>         
        <!-- End Statement container -->
    </section>
<!-- End class="main" -->

{% endblock %}

{% block custom_footer %}
    <script>
        function printBtn() {
            window.print();
        }
    </script>
{% endblock %} 